.header {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
header > nav > ul {
    display: flex;
}
header > nav > ul > li {
    margin: 0 1em;
}
.btn {
    color:white;
    background-color:#000000;
    padding: 1em 2em;
    font-weight: 800;
    font-family: 'didact gothic';
    border-radius: 0 20px 0 20px;
}
.btn-second {
    color: #000000;
    background-color: none;
    padding: 1em 2em;
    font-weight: 800;
    font-family: 'didact gothic';
}
a {
    text-decoration: none;
}
h1 {
    margin-top: 140px;
    font-size: 4em;
    font-weight: 100;
}
h1, h2, h3, h4, h5 {
    font-family: 'didact gothic';
}
.btns{
    text-align: center;
}
.footer {
    display: flex;
    justify-content: space-around;
}
h3 {
    font-size: 40px;
    font-weight: 900;
}
h5 {
    color: white;
    font-weight: 600;
    font-size: 14px;
}
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container img {
    max-width: 35%;
    margin: 0;
}
.intro-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}